@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

:root {
  --primary-color: #cbcbcb;
  --border-radius: 5px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Cairo', sans-serif;
}

h1 {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto;
  user-select: none;
  text-align: center;
  padding: 10px 20px;
}

h1:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#illustration {
  align-self: center;
}

/* Bookmarks */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: baseline;
}

.item {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  margin: 10px;
  height: fit-content;
}

.item:hover {
  background: rgba(0, 0, 0, 0.6);
}

a {
  font-size: 20px;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

#delete-bookmark {
  float: right;
  cursor: pointer;
  z-index: 2;
}

.fa-times {
  float: right;
  cursor: pointer;
  z-index: 2;
}

.name {
  margin-top: 20px;
  margin-right: 20px;
}

.name img {
  height: 20px;
  width: 20px;
  vertical-align: sub;
  margin-right: 5px;
}

/* Modal */
.modal-container {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.close-icon {
  float: right;
  color: #fff;
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 13px;
  cursor: pointer;
}

.modal-header {
  background: var(--primary-color);
  color: #fff;
  padding: 10px;
}

h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
  background: whitesmoke;
}

/* Form */
.form-group {
  height: 55px;
}

.form-group:last-of-type {
  margin-top: 10px;
}

.form-input {
  width: 97%;
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  display: block;
  outline: none;
}

.form-label {
  display: block;
  line-height: 20px;
}

button {
  cursor: pointer;
  color: #000;
  background: var(--primary-color);
  height: 30px;
  width: 100px;
  border: none;
  border-radius: var(--border-radius);
  margin-top: 10px;
}

button:hover {
  filter: brightness(90%);
}

button:focus {
  outline: none;
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  #illustration {
    display: none;
  }
  .main-container {
    display: unset;
    flex-direction: unset;
    justify-content: unset;
  }
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .item {
    width: 90vw;
  }
}
